node-red/sensor_project_flow.json
[{"id":"afede867.23d4e8","type":"mqtt in","z":"dff048b4.bbf7a8","name":"wifiTemp","topic":"temperature","qos":"2","broker":"2d38e526.a6719a","x":158,"y":189,"wires":[["2df5319e.9adc7e","3a9d1dcc.493022","235e0f61.7bc89"]]},{"id":"ab40b713.553a08","type":"mqtt in","z":"dff048b4.bbf7a8","name":"wifiHumidity","topic":"humidity","qos":"2","broker":"2d38e526.a6719a","x":158,"y":326,"wires":[["daec3762.165968","645aa37a.e2f69c","235e0f61.7bc89"]]},{"id":"736e5a5.e4995a4","type":"mongodb out","z":"dff048b4.bbf7a8","mongodb":"972748f2.d60548","name":"mongodb_write","collection":"measures","payonly":false,"upsert":false,"multi":false,"operation":"store","x":747,"y":94,"wires":[]},{"id":"2df5319e.9adc7e","type":"ui_gauge","z":"dff048b4.bbf7a8","name":"GaugeTemp","group":"4dee76b7.a59398","order":0,"width":"10","height":"4","gtype":"gage","title":"Real Time Temperature","label":"Celsius","format":"{{value}}","min":"-20","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":739,"y":170,"wires":[]},{"id":"3a9d1dcc.493022","type":"ui_chart","z":"dff048b4.bbf7a8","name":"LineTemp","group":"4dee76b7.a59398","order":0,"width":"10","height":"6","label":"Historic Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f75b1","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":732,"y":238,"wires":[[],[]]},{"id":"daec3762.165968","type":"ui_gauge","z":"dff048b4.bbf7a8","name":"GaugeHum","group":"72ee1789.eebfc8","order":0,"width":"10","height":"4","gtype":"gage","title":"Real Time Humidity","label":"Celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":738,"y":314,"wires":[]},{"id":"645aa37a.e2f69c","type":"ui_chart","z":"dff048b4.bbf7a8","name":"LineHum","group":"72ee1789.eebfc8","order":0,"width":"10","height":"6","label":"Historic Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#0d446a","#aec7e8","#ee7d19","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":729,"y":405,"wires":[[],[]]},{"id":"235e0f61.7bc89","type":"function","z":"dff048b4.bbf7a8","name":"Time","func":"msg.timestamp= new Date().toISOString()\nreturn msg;","outputs":1,"noerr":0,"x":485,"y":99,"wires":[["736e5a5.e4995a4"]]},{"id":"1fb32c87.307273","type":"mongodb in","z":"dff048b4.bbf7a8","mongodb":"62a6e4e3.64453c","name":"mongodb_read","collection":"measures","operation":"find","x":451,"y":507,"wires":[["e3a78c88.23868"]]},{"id":"7a152658.58c838","type":"http in","z":"dff048b4.bbf7a8","name":"http_request","url":"/measures","method":"get","upload":false,"swaggerDoc":"","x":166,"y":508,"wires":[["1fb32c87.307273"]]},{"id":"e3a78c88.23868","type":"http response","z":"dff048b4.bbf7a8","name":"http_response","statusCode":"","headers":{},"x":740,"y":508,"wires":[]},{"id":"2d38e526.a6719a","type":"mqtt-broker","z":"","broker":"***.**.*.3","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"972748f2.d60548","type":"mongodb","z":"","hostname":"***.**.*.2","port":"27017","db":"nodemcu","name":"nodemcu"},{"id":"4dee76b7.a59398","type":"ui_group","z":"","name":"Temperature","tab":"9977350b.e3a858","disp":true,"width":"10"},{"id":"72ee1789.eebfc8","type":"ui_group","z":"","name":"Humidity","tab":"9977350b.e3a858","disp":true,"width":"10"},{"id":"62a6e4e3.64453c","type":"mongodb","z":"","hostname":"***.**.*.2","port":"27017","db":"nodemcu","name":"nodemcu"},{"id":"9977350b.e3a858","type":"ui_tab","z":"","name":"Western University","icon":"dashboard"}]
